<template>
    <v-container fluid class="no-padding">
    <v-layout row>
      <v-flex xs12>
        <v-card class="text-md-center details-card-pokemon">
        <img class="pokemon-image" :src="`https://img.pokemondb.net/sprites/black-white/anim/normal/${pokemonName}.gif`" alt="">
          <v-card-text><h1>{{pokemonName}}</h1></v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex class="details-description" xs12>
        <p><type-badge
                      v-for="(type, index) in types" :key="index" :type="type"/></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum iusto perspiciatis quia! Optio a odit quae sequi mollitia animi ex sunt? Esse dicta minima expedita eos recusandae, quod eligendi laboriosam.</p>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12>
         <v-data-table
    :headers="headers"
    :items="values"
    hide-actions
    class="elevation-1"
  >
    <template slot="items" slot-scope="props">
      <td>{{ props.item.name }}</td>
      <td class="text-xs-right">{{props.item.value}}</td>
    </template>
  </v-data-table>
      </v-flex>
    </v-layout>
    </v-container>

</template>

<script>
import TypeBadge from '@/components/TypeBadge.vue';
import { get } from 'lodash';

export default {
  props: ['pokemonName'],
  components: {
    TypeBadge,
  },
  computed: {
    pokemon() {
      const pokemons = this.$store.state.pokemons;
      console.log(pokemons || 'hey');
      return pokemons.find(pokemon => pokemon.name === this.pokemonName);
    },
    values() {
      return [
        {
          name: 'Attack',
          value: get(this.pokemon, 'attack'),
        },
        {
          name: 'SpAttack',
          value: get(this.pokemon, 'spAttack'),
        },
        {
          name: 'Defense',
          value: get(this.pokemon, 'defense'),
        },
        {
          name: 'SpDefense',
          value: get(this.pokemon, 'spDefense'),
        },
        {
          name: 'Speed',
          value: get(this.pokemon, 'speed'),
        },
      ];
    },
    types() {
      return get(this.pokemon, 'types') || [];
    },
  },
  data() {
    return {
      headers: [
        {
          text: 'Stat',
          align: 'left',
          sortable: false,
          value: 'stat',
        },
        { text: 'Value', value: 'value', align: 'left' },
      ],
    };
  },
};
</script>

<style>
.no-padding {
  padding: 0;
}
.details-description {
  padding: 30px;
  margin: 0;
}
.pokemon-image {
  margin: 40px;
  image-rendering: pixelated;

  transform: scale(3, 3);
  -ms-transform: scale(3, 3);
  -webkit-transform: scale(3, 3);
}
.details-card-pokemon {
  background-color: gray !important;
}
</style>
