<template>
  <div class="home">
    <img class="home-image" src="../assets/welcome.png">
    <v-btn color="primary">Log in</v-btn>
  </div>
</template>

<script>
export default {
  name: 'home',
  components: {},
};
</script>

<style>
.home-image {
  width: 100%;
}
.home-progress {
  margin: 70px;
}
</style>
