<template>
  <div class="home">
      <list :pokemons="pokemons">

      </list>
  </div>
</template>

<script>
// @ is an alias to /src
import List from '@/components/List.vue';

export default {
  name: 'listView',
  components: {
    List,
  },
  computed: {
    pokemons() {
      console.log(this.$store);
      return this.$store.state.pokemons;
    },
    barColor() {
      return this.$store.state.barColor;
    },
  },
  mounted() {
    return this.$store.dispatch('SET_POKEMONS');
  },
};
</script>

<style>
.home-image {
  width: 100%;
}
.home-progress {
  margin: 70px;
}
</style>
