<template>
  <div class="home">
    <img class="home-image" src="../assets/welcome.png">
    <v-container>
        <v-form v-model="valid">

    <v-text-field
      v-model="name"
      :rules="nameRules"
      :counter="10"
      label="Email"
      required
    ></v-text-field>
    <v-text-field
      v-model="password"
      :rules="passwordRules"
      label="password"
      type="password"
      required
    ></v-text-field>
    <v-btn @click="login" color="primary">login</v-btn>

  </v-form>
  </v-container>
  </div>
</template>
<script>
export default {
  data: () => ({
    valid: false,
    name: '',
    password: '',
    nameRules: [v => !!v || 'Email is required'],
    passwordRules: [v => !!v || 'Password is required'],
  }),
  methods: {
    async login(event) {
      await this.$store
        .dispatch('LOGIN', {
          email: this.name,
          password: this.password,
        })
        .catch(console.error);
      this.name = '';
      this.password = '';
      this.$router.push('/trainer');
    },
  },
};
</script>

<style>
</style>
