<template>
    <div>
    <img class="page404-image" src="https://pre00.deviantart.net/b620/th/pre/f/2015/144/8/1/sad_pikachu_by_bekkistevenson-d8ujru5.png" alt="">
    <h1 class="page404-title">404 page not found</h1>
    </div>
</template>

<script>
export default {};
</script>

<style>
.page404-title {
  margin: 40px;
  margin-top: 0px;
}
.page404-image {
  width: 100%;
  padding: 50px;
}
</style>
