<template>
    <v-container fluid class="no-padding">
    <v-layout row>
      <v-flex xs12>
        <v-card dark color="secondary" class="text-md-center">
        <img class="profile-image" src="https://orig00.deviantart.net/1993/f/2014/240/1/f/pokemon_trainer_sprite_by_technicolorrex-d7x22od.png" alt="">
          <v-card-text><h1>{{first}} {{last}}</h1></v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
     <v-layout row>
      <v-flex xs12 class="profile-details text-xs-left">
        <p><span class="profile-category">Email: </span>{{email}}</p>
        <p><span class="profile-category">Role: </span>Pokemon trainer</p>
      </v-flex>
    </v-layout>
    <div>
      <p><span class="profile-category">Your Pokemons: </span></p>
      <v-list two-line>
                <my-list-item v-for="pokemon in myPokemons" :key="pokemon.id" :pokemon="pokemon"></my-list-item>
      </v-list>
    </div>

    <v-layout row>
      <v-flex xs12>
          <v-btn color="warning" @click="logout">Logout</v-btn>
      </v-flex>
    </v-layout>

      <!-- add button -->
    <v-btn
      fixed
      dark
      fab
      bottom
      right
      color="pink"
      @click="dialog=true"
    >
      <v-icon>add</v-icon>
    </v-btn>


    <!-- dialog: this should be in their own component, but just to save time... -->
    <v-dialog v-model="dialog" max-width="500">
      <v-card>
        <v-card-title class="headline">Add your Pokemon!</v-card-title>
        <v-card-text>
            <v-form v-model="valid">
            <img :src="`https://img.pokemondb.net/sprites/ruby-sapphire/normal/${name}.png`" alt="">
            <v-text-field
              v-model="name"
              :rules="nameRules"
              label="Name(specie)"
              required
            ></v-text-field>
            <v-text-field
              v-model="nickname"
              label="Nickname"
              required
            ></v-text-field>
            <v-text-field
              v-model="level"
              :rules="levelRules"
              label="Level"
              required
            ></v-text-field>
          </v-form>
          </v-card-text>


        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" flat @click.native="dialog = false">Cancel</v-btn>
          <v-btn color="green darken-1" flat @click.native="postPokemon">Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    </v-container>
</template>

<script>
import { get } from 'lodash';
import TypeBadge from '@/components/TypeBadge.vue';
import MyListItem from '@/components/MyListItem.vue';

export default {
  props: ['pokemon'],
  data() {
    return {
      valid: false,
      nameRules: [
        v => !!v || 'Name is required',
        v => this.pokemonNames.includes(v) || 'Should be a valid pokemon',
      ],
      levelRules: [
        v => (v > 1 && v < 100) || 'Level should be a number between 1 and 100',
      ],
      name: 'bulbasaur',
      nickname: '',
      level: 5,
      dialog: false,
    };
  },
  components: {
    TypeBadge,
    MyListItem,
  },
  computed: {
    first() {
      return get(this, '$store.state.user.firstName') || 'Unknown';
    },
    last() {
      return get(this, '$store.state.user.lastName') || '';
    },
    email() {
      return get(this, '$store.state.user.email') || '';
    },
    pokemonNames() {
      return this.$store.state.pokemonNames;
    },
    myPokemons() {
      return this.$store.state.myPokemons;
    },
  },
  methods: {
    logout() {
      this.$store.dispatch('LOGOUT');
      this.$router.push('/');
    },
    async postPokemon() {
      try {
        if (!this.valid) return;

        await this.$store.dispatch('ADD_TRAINEE_POKEMON', {
          name: this.name,
          nickname: this.nickname,
          level: this.level,
        });
        this.name = 'bulbasaur';
        this.nickname = '';
        this.level = 5;
        this.dialog = false;
        await this.$store.dispatch('SET_TRAINEE_POKEMONS', {
          name: this.name,
          nickname: this.nickname,
          level: this.level,
        });
      } catch (error) {
        console.error(error);
      }
    },
  },
  mounted() {
    return this.$store.dispatch('SET_TRAINEE_POKEMONS');
  },
};
</script>

<style>
.profile-details {
  padding: 30px;
  margin: 0;
}
.profile-image {
  height: 100px;
  margin-top: 20px;
}
.profile-category {
  font-weight: 800;
}
</style>
