<template>
    <router-link :to="`/pokemons/${pokemon.name}`">
     <v-list-tile avatar>
              <v-list-tile-avatar>
                <img :src="`https://img.pokemondb.net/sprites/ruby-sapphire/normal/${pokemon.name}.png`">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="pokemon.name"></v-list-tile-title>
                <v-list-tile-sub-title >
                    <type-badge
                      v-for="(type, index) in pokemon.types" :key="index" :type="type"/>
              <v-divider></v-divider>
                </v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
    </router-link>
</template>

<script>
import TypeBadge from '@/components/TypeBadge.vue';

export default {
  props: ['pokemon'],
  components: {
    TypeBadge,
  },
};
</script>
<style>
</style>
