<template>
    <v-list two-line>
              <ListItem v-for="pokemon in pokemons" :key="pokemon.id" :pokemon="pokemon"></ListItem>
    </v-list>
</template>

<script>
import ListItem from './ListItem';

export default {
  props: ['pokemons'],
  components: { ListItem },
};
</script>

<style>
</style>
