<template>
     <v-list-tile avatar>
              <v-list-tile-avatar>
                <img :src="`https://img.pokemondb.net/sprites/ruby-sapphire/normal/${pokemon.name}.png`">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title >{{pokemon.nickname}}</v-list-tile-title>
                <v-list-tile-sub-title>{{pokemon.name}} level {{pokemon.level}}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
</template>

<script>
import TypeBadge from '@/components/TypeBadge.vue';

export default {
  props: ['pokemon'],
  components: {
    TypeBadge,
  },
  name: 'my-list-item',
};
</script>
<style>
</style>
