<template>
    <v-toolbar :color="color">
    <v-toolbar-title>{{ title }}</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <router-link to="/pokemons" tag="v-icon" v-if="searchIcon">search</router-link>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {
  props: ['title', 'color'],
  computed: {
    searchIcon() {
      return !!this.$store.state.user;
    },
  },
};
</script>

<style>
</style>
