<template>
    <span class="type-icon" :class="`type-${type}`">{{type}} </span>
</template>

<script>
export default {
  props: ['type'],
  name: 'type-badge',
};
</script>

<style>
.type-icon {
  background: #ccc;
  background-image: -webkit-linear-gradient(#ddd, #bbb);
  background-image: linear-gradient(#ddd, #bbb);
  border: 1px solid #aaa;
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #333;
  text-transform: uppercase;
  display: inline-block;
  width: 58px;
  line-height: 1;
  margin: 3px 2px;
  padding: 5px 0;
}
.type-fire {
  background: #f08030;
  background-image: -webkit-linear-gradient(#f08030, #dd6610);
  background-image: linear-gradient(#f08030, #dd6610);
  border-color: #b4530d;
}
.type-dragon {
  background: #7038f8;
  background-image: -webkit-linear-gradient(#7038f8, #4c08ef);
  background-image: linear-gradient(#7038f8, #4c08ef);
  border-color: #3d07c0;
}
.type-flying {
  background: #a890f0;
  background-image: -webkit-linear-gradient(#a890f0, #9180c4);
  background-image: linear-gradient(#a890f0, #9180c4);
  border-color: #7762b6;
}
.type-water {
  background: #6890f0;
  background-image: -webkit-linear-gradient(#6890f0, #386ceb);
  background-image: linear-gradient(#6890f0, #386ceb);
  border-color: #1753e3;
}
.type-ground {
  background: #e0c068;
  background-image: -webkit-linear-gradient(#e0c068, #d4a82f);
  background-image: linear-gradient(#e0c068, #d4a82f);
  border-color: #aa8623;
}
.type-bug {
  background: #a8b820;
  background-image: -webkit-linear-gradient(#a8b820, #8d9a1b);
  background-image: linear-gradient(#a8b820, #8d9a1b);
  border-color: #616b13;
}
.type-dark {
  background: #705848;
  background-image: -webkit-linear-gradient(#705848, #513f34);
  background-image: linear-gradient(#705848, #513f34);
  border-color: #362a23;
}
.type-electric {
  background: #f8d030;
  background-image: -webkit-linear-gradient(#f8d030, #f0c108);
  background-image: linear-gradient(#f8d030, #f0c108);
  border-color: #c19b07;
}
.type-psychic {
  background: #f85888;
  background-image: -webkit-linear-gradient(#f85888, #f61c5d);
  background-image: linear-gradient(#f85888, #f61c5d);
  border-color: #ba083d;
}
.type-fighting {
  background: #c03028;
  background-image: -webkit-linear-gradient(#c03028, #9d2721);
  background-image: linear-gradient(#c03028, #9d2721);
  border-color: #82211b;
}
.type-fairy {
  background: #e898e8;
  background-image: -webkit-linear-gradient(#e898e8, #de6ede);
  background-image: linear-gradient(#e898e8, #de6ede);
  border-color: #d547d5;
}
.type-grass {
  background: #78c850;
  background-image: -webkit-linear-gradient(#78c850, #5ca935);
  background-image: linear-gradient(#78c850, #5ca935);
  border-color: #4a892b;
}
.type-rock {
  background: #b8a038;
  background-image: -webkit-linear-gradient(#b8a038, #93802d);
  background-image: linear-gradient(#b8a038, #93802d);
  border-color: #746523;
}
.type-poison {
  background: #a040a0;
  background-image: -webkit-linear-gradient(#a040a0, #803380);
  background-image: linear-gradient(#a040a0, #803380);
  border-color: #662966;
}
</style>
